.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url("./utils/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}